body{
    background-color: aquamarine;
}
.heading{
    font-size: 25px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
}
.note{
    color: black;
    font-size: 20px;
}
.copy_right_footer{
    background-color: cornflowerblue;
    color: coral;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    line-height: 3;
}
canvas{
    border: 7px solid orangered;
    border-radius: 17px;
    box-shadow: 5px 5px 5px dimgray;
}